In [2]:
## import
import tensorflow as tf
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score # Accuracy metrics

In [18]:
# original data
data = pd.read_csv("/mnt/c/users/KOJUNSUNG/Downloads/x_train.csv")
target = pd.read_csv("/mnt/c/users/KOJUNSUNG/Downloads/y_train.csv")

# rebuild
data, target = data.drop(labels="Unnamed: 0",axis=1), target.drop(labels="Unnamed: 0",axis=1)

dataset = pd.concat((data, target), axis=1)

In [17]:
dataset.head()

,x1,y1,z1,v1,x2,y2,z2,v2,x3,y3,...,v31,x32,y32,z32,v32,x33,y33,z33,v33,Label
0,0.579180,0.494718,-1.260400,0.999884,0.598910,0.437344,-1.202794,0.999647,0.615433,0.440355,...,5.854897e-07,0.738593,2.877994,0.449241,0.000004,0.548525,2.886744,0.250947,0.000006,0
1,0.579247,0.492518,-1.121348,0.999892,0.599189,0.435712,-1.065062,0.999672,0.615862,0.438817,...,5.664001e-07,0.734784,2.890085,0.500137,0.000004,0.547794,2.901754,0.407540,0.000006,0
2,0.579256,0.492384,-1.103188,0.999899,0.599271,0.435453,-1.047567,0.999691,0.616001,0.438468,...,5.734016e-07,0.732842,2.901172,0.495691,0.000004,0.547777,2.913632,0.506053,0.000006,0
3,0.579180,0.491912,-1.137667,0.999905,0.599163,0.434376,-1.083351,0.999710,0.615937,0.436995,...,5.510733e-07,0.724409,2.922381,0.584140,0.000004,0.535767,2.933913,0.466976,0.000005,0
4,0.579315,0.492281,-1.154184,0.999911,0.599251,0.434340,-1.100381,0.999729,0.616049,0.436875,...,5.601879e-07,0.725853,2.953179,0.608636,0.000004,0.538587,2.964739,0.654591,0.000005,0

In [19]:
X_train, X_test, y_train, y_test = train_test_split(data, target, test_size=0.1, shuffle=True, stratify=target, random_state= 1)

In [20]:
X_train.head()

,x1,y1,z1,v1,x2,y2,z2,v2,x3,y3,...,z31,v31,x32,y32,z32,v32,x33,y33,z33,v33
2508,0.230066,0.618016,-0.735038,0.998940,0.241147,0.547457,-0.789467,0.997872,0.257818,0.535399,...,1.390702,0.000007,0.607469,3.211645,0.265691,0.000011,0.399774,3.224628,0.766161,0.000010
1584,0.814915,0.730136,-2.410146,0.996664,0.856911,0.667388,-2.395235,0.991960,0.877691,0.674619,...,1.479466,0.000371,0.715626,3.300595,0.630935,0.000297,0.547767,3.262190,0.654928,0.000622
1536,0.594417,0.641389,-1.139237,0.995970,0.609705,0.562038,-1.124841,0.991134,0.628352,0.551233,...,0.712264,0.000064,0.784708,3.165692,-0.439738,0.000112,0.619994,3.166359,-0.017507,0.000159
2229,0.297207,0.646466,-0.942873,0.998845,0.323170,0.578674,-0.957754,0.997301,0.345908,0.578030,...,0.929148,0.000009,0.532808,3.242165,-0.030798,0.000017,0.358145,3.243011,0.241620,0.000017
842,0.591366,0.481023,-1.293882,0.999616,0.617069,0.409089,-1.238371,0.998998,0.637028,0.409427,...,0.404466,0.000052,0.704610,3.046036,-0.283680,0.000132,0.520434,3.033941,-0.365071,0.000222

In [21]:
y_train.head()

      Label
2508      2
1584      1
1536      1
2229      2
842       0

In [24]:
print(X_train.shape, y_train.shape)

(2574, 132) (2574, 1)

In [31]:
Y_train = tf.keras.utils.to_categorical(y_train)# one hot encoding
Y_test = tf.keras.utils.to_categorical(y_test)

In [33]:
Y_train[0]

array([0., 0., 1.], dtype=float32)

In [34]:
Y_train.shape

(2574, 3)

In [37]:
# model 
model = tf.keras.Sequential()
model.add(tf.keras.layers.Dense(128, activation='relu', input_shape=(132,)))
model.add(tf.keras.layers.Dropout(0.5)) # add dropout layer
model.add(tf.keras.layers.Dense(64, activation='relu'))
model.add(tf.keras.layers.Dense(3, activation='softmax')) # 0=forward, 1=left, 2=right
# for multiclassification, use softmax func.
# There is no CNN layer because there is no image input. 
# image input -> csv data -> modeling 

# Compile 

model.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])
# if you don't one-hot encoding, then use sparse_categorical_crossentropy.

In [38]:
# Train the model
model.fit(X_train, Y_train, epochs=10)

Epoch 1/10
81/81 [==============================] - 1s 9ms/step - loss: 0.5668 - accuracy: 0.7805
Epoch 2/10
81/81 [==============================] - 0s 6ms/step - loss: 0.1560 - accuracy: 0.9619
Epoch 3/10
81/81 [==============================] - 1s 6ms/step - loss: 0.1052 - accuracy: 0.9674
Epoch 4/10
81/81 [==============================] - 1s 6ms/step - loss: 0.0721 - accuracy: 0.9790
Epoch 5/10
81/81 [==============================] - 1s 7ms/step - loss: 0.0482 - accuracy: 0.9872
Epoch 6/10
81/81 [==============================] - 1s 7ms/step - loss: 0.0565 - accuracy: 0.9848
Epoch 7/10
81/81 [==============================] - 1s 7ms/step - loss: 0.0329 - accuracy: 0.9926
Epoch 8/10
81/81 [==============================] - 1s 7ms/step - loss: 0.0298 - accuracy: 0.9930
Epoch 9/10
81/81 [==============================] - 1s 7ms/step - loss: 0.0254 - accuracy: 0.9934
Epoch 10/10
81/81 [==============================] - 1s 7ms/step - loss: 0.0243 - accuracy: 0.9930

In [39]:
# evaluate
results = model.evaluate(X_test, Y_test)
print('accuracy: ', results[1])

9/9 [==============================] - 0s 9ms/step - loss: 0.0213 - accuracy: 0.9930
accuracy:  0.99303138256073

In [40]:
model.save('Maded_model.h5') #save

In [41]:
!pwd

/mnt/c/Users/KOJUNSUNG/Desktop/lab/git/TIL/DL/Project