In [24]:
## import
import tensorflow as tf
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score # Accuracy metrics

In [12]:
# original data
data = pd.read_csv("/mnt/c/users/KOJUNSUNG/Downloads/x_train.csv")
target = pd.read_csv("/mnt/c/users/KOJUNSUNG/Downloads/y_train.csv")

# rebuild
data, target = data.drop(labels="Unnamed: 0",axis=1), target
dataset = pd.concat((data, target), axis=1)

In [4]:
data.shape

(2861, 132)

In [10]:
data.head()

,x1,y1,z1,v1,x2,y2,z2,v2,x3,y3,...,z31,v31,x32,y32,z32,v32,x33,y33,z33,v33
0,0.579180,0.494718,-1.260400,0.999884,0.598910,0.437344,-1.202794,0.999647,0.615433,0.440355,...,0.940863,5.854897e-07,0.738593,2.877994,0.449241,0.000004,0.548525,2.886744,0.250947,0.000006
1,0.579247,0.492518,-1.121348,0.999892,0.599189,0.435712,-1.065062,0.999672,0.615862,0.438817,...,1.082689,5.664001e-07,0.734784,2.890085,0.500137,0.000004,0.547794,2.901754,0.407540,0.000006
2,0.579256,0.492384,-1.103188,0.999899,0.599271,0.435453,-1.047567,0.999691,0.616001,0.438468,...,1.176795,5.734016e-07,0.732842,2.901172,0.495691,0.000004,0.547777,2.913632,0.506053,0.000006
3,0.579180,0.491912,-1.137667,0.999905,0.599163,0.434376,-1.083351,0.999710,0.615937,0.436995,...,1.153705,5.510733e-07,0.724409,2.922381,0.584140,0.000004,0.535767,2.933913,0.466976,0.000005
4,0.579315,0.492281,-1.154184,0.999911,0.599251,0.434340,-1.100381,0.999729,0.616049,0.436875,...,1.350937,5.601879e-07,0.725853,2.953179,0.608636,0.000004,0.538587,2.964739,0.654591,0.000005

In [17]:
dataset.head()

,x1,y1,z1,v1,x2,y2,z2,v2,x3,y3,...,v31,x32,y32,z32,v32,x33,y33,z33,v33,Label
0,0.579180,0.494718,-1.260400,0.999884,0.598910,0.437344,-1.202794,0.999647,0.615433,0.440355,...,5.854897e-07,0.738593,2.877994,0.449241,0.000004,0.548525,2.886744,0.250947,0.000006,0
1,0.579247,0.492518,-1.121348,0.999892,0.599189,0.435712,-1.065062,0.999672,0.615862,0.438817,...,5.664001e-07,0.734784,2.890085,0.500137,0.000004,0.547794,2.901754,0.407540,0.000006,0
2,0.579256,0.492384,-1.103188,0.999899,0.599271,0.435453,-1.047567,0.999691,0.616001,0.438468,...,5.734016e-07,0.732842,2.901172,0.495691,0.000004,0.547777,2.913632,0.506053,0.000006,0
3,0.579180,0.491912,-1.137667,0.999905,0.599163,0.434376,-1.083351,0.999710,0.615937,0.436995,...,5.510733e-07,0.724409,2.922381,0.584140,0.000004,0.535767,2.933913,0.466976,0.000005,0
4,0.579315,0.492281,-1.154184,0.999911,0.599251,0.434340,-1.100381,0.999729,0.616049,0.436875,...,5.601879e-07,0.725853,2.953179,0.608636,0.000004,0.538587,2.964739,0.654591,0.000005,0

In [13]:
X_train, X_test, y_train, y_test = train_test_split(data, target, test_size=0.1, shuffle=True, stratify=target, random_state= 1)

In [15]:
X_train.head()

,x1,y1,z1,v1,x2,y2,z2,v2,x3,y3,...,z31,v31,x32,y32,z32,v32,x33,y33,z33,v33
2158,0.262274,0.623575,-0.745098,0.999400,0.285123,0.550607,-0.766475,0.998654,0.308800,0.545518,...,1.007782,0.000013,0.579983,3.262597,0.111775,0.000064,0.377484,3.260891,0.349814,0.000047
667,0.608356,0.458854,-1.175270,0.999723,0.630769,0.398236,-1.115766,0.999276,0.649712,0.399739,...,0.378469,0.000032,0.720158,3.025121,-0.288044,0.000112,0.531430,3.024151,-0.367120,0.000141
2567,0.499951,0.630966,-1.407179,0.999730,0.530535,0.579422,-1.366270,0.999422,0.547838,0.585423,...,1.106318,0.000024,0.507962,3.050224,-0.154719,0.000042,0.349381,3.020129,0.360561,0.000040
2187,0.139919,0.689523,-0.693515,0.995222,0.154531,0.605634,-0.760650,0.991238,0.172302,0.589085,...,0.943814,0.000004,0.581773,3.368124,-0.033809,0.000013,0.365055,3.380414,0.278167,0.000012
1392,0.818627,0.557193,-1.547324,0.999716,0.865214,0.495062,-1.477190,0.999153,0.884673,0.504148,...,1.535036,0.000023,0.740311,3.296399,0.565340,0.000040,0.559390,3.272853,0.702644,0.000064

In [14]:
y_train.head()

      Label
2158      1
667       0
2567      1
2187      1
1392     -1

In [31]:
print(X_train.shape, y_train.shape)

(2574, 132) (2574, 1)

In [26]:
Y_train = tf.keras.utils.to_categorical(y_train)# one hot encoding
Y_test = tf.keras.utils.to_categorical(y_test)

In [30]:
# Y_train[5]

<1x3 sparse matrix of type '<class 'numpy.float64'>'
	with 1 stored elements in Compressed Sparse Row format>

In [29]:
# Y_train.shape

(2574, 3)

In [37]:
# model 
model = tf.keras.Sequential()
model.add(tf.keras.layers.Dense(128, activation='relu', input_shape=(132,)))
model.add(tf.keras.layers.Dropout(0.5)) # add dropout layer
model.add(tf.keras.layers.Dense(64, activation='relu'))
model.add(tf.keras.layers.Dense(3, activation='softmax')) # 0=forward, 1=right, -1=left
# for multiclassification, use softmax func.
# There is no CNN layer because there is no image input. 
# image input -> csv data -> modeling 

# Compile 

model.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])
# if you don't one-hot encoding, then use sparse_categorical_crossentropy.

In [38]:
# Train the model
model.fit(X_train, Y_train, epochs=10)

Epoch 1/10
81/81 [==============================] - 1s 9ms/step - loss: 0.5668 - accuracy: 0.7805
Epoch 2/10
81/81 [==============================] - 0s 6ms/step - loss: 0.1560 - accuracy: 0.9619
Epoch 3/10
81/81 [==============================] - 1s 6ms/step - loss: 0.1052 - accuracy: 0.9674
Epoch 4/10
81/81 [==============================] - 1s 6ms/step - loss: 0.0721 - accuracy: 0.9790
Epoch 5/10
81/81 [==============================] - 1s 7ms/step - loss: 0.0482 - accuracy: 0.9872
Epoch 6/10
81/81 [==============================] - 1s 7ms/step - loss: 0.0565 - accuracy: 0.9848
Epoch 7/10
81/81 [==============================] - 1s 7ms/step - loss: 0.0329 - accuracy: 0.9926
Epoch 8/10
81/81 [==============================] - 1s 7ms/step - loss: 0.0298 - accuracy: 0.9930
Epoch 9/10
81/81 [==============================] - 1s 7ms/step - loss: 0.0254 - accuracy: 0.9934
Epoch 10/10
81/81 [==============================] - 1s 7ms/step - loss: 0.0243 - accuracy: 0.9930

In [39]:
# evaluate
results = model.evaluate(X_test, Y_test)
print('accuracy: ', results[1])

9/9 [==============================] - 0s 9ms/step - loss: 0.0213 - accuracy: 0.9930
accuracy:  0.99303138256073

In [40]:
model.save('Maded_model.h5') #save

In [11]:
!pwd

/mnt/c/Users/KOJUNSUNG/Desktop/lab/git/TIL/DL/Project

In [16]:
X_test.shape

(287, 132)

In [18]:
from tensorflow.keras.models import load_model

p_model=load_model('Maded_model.h5')
pred = p_model.predict(X_test)

9/9 [==============================] - 0s 2ms/step

In [20]:
pred[0]

array([9.990777e-01, 8.754170e-04, 4.696191e-05], dtype=float32)

In [29]:
# if you want to reverse one-hot encoding, use np.argmax()
pred[3].argmax()

1

In [30]:
results = []
for i in pred:
    results.append(i.argmax())
print(results)

[0, 1, 2, 1, 0, 1, 1, 0, 2, 0, 0, 0, 2, 0, 2, 2, 0, 0, 0, 1, 1, 1, 0, 1, 2, 0, 2, 0, 2, 0, 0, 2, 2, 0, 0, 1, 2, 1, 2, 2, 1, 0, 2, 2, 2, 2, 2, 2, 0, 0, 0, 1, 1, 0, 1, 2, 1, 2, 2, 0, 2, 0, 0, 2, 2, 1, 2, 1, 1, 2, 0, 1, 1, 2, 2, 0, 2, 0, 2, 2, 0, 0, 1, 1, 1, 0, 2, 0, 1, 0, 0, 1, 2, 2, 1, 0, 0, 2, 0, 1, 2, 0, 1, 0, 0, 1, 2, 0, 1, 2, 0, 2, 2, 2, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 1, 2, 2, 2, 0, 1, 0, 2, 0, 1, 2, 0, 2, 2, 0, 1, 2, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 2, 0, 2, 0, 1, 1, 0, 2, 2, 2, 1, 2, 0, 0, 2, 0, 1, 2, 1, 2, 2, 1, 1, 0, 2, 0, 1, 2, 0, 1, 0, 2, 0, 0, 2, 1, 2, 1, 2, 2, 0, 2, 2, 0, 0, 1, 0, 0, 2, 2, 1, 0, 2, 2, 1, 2, 2, 1, 1, 0, 2, 1, 0, 0, 2, 0, 0, 1, 1, 1, 1, 0, 0, 2, 0, 0, 2, 2, 1, 2, 1, 2, 1, 2, 0, 1, 0, 0, 0, 2, 0, 1, 2, 2, 0, 2, 2, 0, 1, 1, 0, 0, 0, 1, 2, 2, 0, 1, 1, 2, 2, 2, 0, 1, 1, 1, 1, 2, 1, 1, 1, 2, 0, 2, 1, 1, 0, 1, 2, 2, 0, 0, 2, 1]

In [33]:
round(np.mean(results))

1

In [34]:
map_dict = {0: "middle", 1: "left", 2: "right"}

In [36]:
pred_name = []
for i in results:
    pred_name.append(map_dict[i])
print(pred_name)

['middle', 'left', 'right', 'left', 'middle', 'left', 'left', 'middle', 'right', 'middle', 'middle', 'middle', 'right', 'middle', 'right', 'right', 'middle', 'middle', 'middle', 'left', 'left', 'left', 'middle', 'left', 'right', 'middle', 'right', 'middle', 'right', 'middle', 'middle', 'right', 'right', 'middle', 'middle', 'left', 'right', 'left', 'right', 'right', 'left', 'middle', 'right', 'right', 'right', 'right', 'right', 'right', 'middle', 'middle', 'middle', 'left', 'left', 'middle', 'left', 'right', 'left', 'right', 'right', 'middle', 'right', 'middle', 'middle', 'right', 'right', 'left', 'right', 'left', 'left', 'right', 'middle', 'left', 'left', 'right', 'right', 'middle', 'right', 'middle', 'right', 'right', 'middle', 'middle', 'left', 'left', 'left', 'middle', 'right', 'middle', 'left', 'middle', 'middle', 'left', 'right', 'right', 'left', 'middle', 'middle', 'right', 'middle', 'left', 'right', 'middle', 'left', 'middle', 'middle', 'left', 'right', 'middle', 'left', 'right', 'middle', 'right', 'right', 'right', 'left', 'left', 'right', 'right', 'right', 'right', 'right', 'right', 'right', 'right', 'left', 'right', 'left', 'right', 'right', 'right', 'middle', 'left', 'middle', 'right', 'middle', 'left', 'right', 'middle', 'right', 'right', 'middle', 'left', 'right', 'middle', 'left', 'middle', 'left', 'middle', 'left', 'middle', 'left', 'left', 'middle', 'right', 'middle', 'right', 'middle', 'left', 'left', 'middle', 'right', 'right', 'right', 'left', 'right', 'middle', 'middle', 'right', 'middle', 'left', 'right', 'left', 'right', 'right', 'left', 'left', 'middle', 'right', 'middle', 'left', 'right', 'middle', 'left', 'middle', 'right', 'middle', 'middle', 'right', 'left', 'right', 'left', 'right', 'right', 'middle', 'right', 'right', 'middle', 'middle', 'left', 'middle', 'middle', 'right', 'right', 'left', 'middle', 'right', 'right', 'left', 'right', 'right', 'left', 'left', 'middle', 'right', 'left', 'middle', 'middle', 'right', 'middle', 'middle', 'left', 'left', 'left', 'left', 'middle', 'middle', 'right', 'middle', 'middle', 'right', 'right', 'left', 'right', 'left', 'right', 'left', 'right', 'middle', 'left', 'middle', 'middle', 'middle', 'right', 'middle', 'left', 'right', 'right', 'middle', 'right', 'right', 'middle', 'left', 'left', 'middle', 'middle', 'middle', 'left', 'right', 'right', 'middle', 'left', 'left', 'right', 'right', 'right', 'middle', 'left', 'left', 'left', 'left', 'right', 'left', 'left', 'left', 'right', 'middle', 'right', 'left', 'left', 'middle', 'left', 'right', 'right', 'middle', 'middle', 'right', 'left']