- https://www.datamanim.com/dataset/03_dataq/typetwo.html#id4

# 2. 이직여부 판단 데이터(Classification)

> Attention
- 데이터 설명 : 이직여부 판단 데이터 (target: 1: 이직 , 0 : 이직 x)
- 데이터 출처 : https://www.kaggle.com/datasets/arashnic/hr-analytics-job-change-of-data-scientists (참고, 데이터 수정)
- X_train : https://raw.githubusercontent.com/Datamanim/datarepo/main/HRdata/X_train.csv
- y_train : https://raw.githubusercontent.com/Datamanim/datarepo/main/HRdata/y_train.csv
- X_test : https://raw.githubusercontent.com/Datamanim/datarepo/main/HRdata/X_test.csv
- y_test(평가용) : https://raw.githubusercontent.com/Datamanim/datarepo/main/HRdata/y_test.csv

#### 0. 시험 환경 세팅

In [3]:
import pandas as pd

X_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/HRdata/X_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/HRdata/y_train.csv")
X_test = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/HRdata/X_test.csv")
y_test = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/HRdata/y_test.csv")

X_train.shape, y_train.shape, X_test.shape, y_test.shape

((12452, 13), (12452, 2), (6706, 13), (6706, 2))

#### 1. 라이브러리 및 데이터 호출

In [6]:
X_train["company_size"].unique()

array(['100-500', nan, '50-99', '10/49', '10000+', '1000-4999', '<10',
       '500-999', '5000-9999'], dtype=object)

In [2]:
# X data 의 'enrollee_id' 제거
# y_train['target'] 을 y_train 값으로 지정합니다.

#### 2. EDA
- X의 통계량 확인
- X, Y의 null 값 확인
    - 결측치 발생시 전체 data에서 결측치가 갖고 있는 비율 확인 
    - 결측치 비율이 높은 feature는?
- unique value 갯수 확인 및 unique value 확인

#### 3. Preprocessing

> 수치형 컬럼 2개(city_development_index, training_hours)
- 정규화(MinMaxScaler)

> gender
- 결측치 : 최빈값 대체
- 인코딩 : LabelEncoder

> city
- 'city_' 제거
- 컬럼 타입 : int 타입으로 변경

> relevent_experience
- 인코딩 : LabelEncoder

> 3개 컬럼(enrolled_university, education_level, major_discipline)
- 결측치 : 최빈값 대체
- 인코딩 : LabelEncoder

> experience
- "<1" : 0으로 변경
- ">20" : 21로 변경
- 결측치 : 최빈값 대체
- 컬럼 타입 : float 타입으로 변경

> 2개 컬럼(company_size, company_type)
- company_size 에 존재하는 "<" 값 삭제 
- 인코딩 : get_dummies 를 이용한 encoding(one hot도 가능)

In [7]:
dum_list = ['company_size', 'company_type']

X_train_dum = pd.get_dummies(X_train[dum_list])
X_test_dum = pd.get_dummies(X_test[dum_list])

X_train_dum.columns = X_train_dum.columns.str.replace('<', '')
X_test_dum.columns = X_test_dum.columns.str.replace('<', '')

X_train.drop(dum_list, axis=1, inplace=True)
X_test.drop(dum_list, axis=1, inplace=True)

X_train = pd.concat([X_train, X_train_dum], axis=1)
X_test = pd.concat([X_test, X_test_dum], axis=1)

X_train.shape, X_test.shape

((12452, 25), (6706, 25))

In [8]:
X_train

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,last_new_job,...,company_size_50-99,company_size_500-999,company_size_5000-9999,company_size_10,company_type_Early Stage Startup,company_type_Funded Startup,company_type_NGO,company_type_Other,company_type_Public Sector,company_type_Pvt Ltd
0,25298,city_138,0.836,Male,No relevent experience,Full time course,High School,NaN,5,1,...,0,0,0,0,0,0,0,0,0,1
1,4241,city_160,0.920,Male,No relevent experience,Full time course,High School,NaN,5,1,...,0,0,0,0,0,0,0,0,0,0
2,24086,city_57,0.866,Male,No relevent experience,no_enrollment,Graduate,STEM,10,1,...,0,0,0,0,0,0,0,0,0,0
3,26773,city_16,0.910,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,>4,...,1,0,0,0,0,0,0,0,0,1
4,32325,city_143,0.740,NaN,No relevent experience,Full time course,Graduate,STEM,5,never,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12447,29597,city_21,0.624,Male,Has relevent experience,no_enrollment,Graduate,STEM,<1,1,...,1,0,0,0,0,0,0,0,0,1
12448,27821,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,>4,...,0,0,0,0,0,0,0,0,0,1
12449,21812,city_160,0.920,Female,Has relevent experience,no_enrollment,Graduate,STEM,6,1,...,1,0,0,0,0,0,0,0,0,1
12450,28416,city_160,0.920,Male,Has relevent experience,Full time course,Graduate,STEM,10,2,...,0,0,0,0,0,0,0,0,0,0
12451,31875,city_136,0.897,NaN,No relevent experience,Full time course,Graduate,STEM,4,1,...,0,0,0,0,0,0,0,0,0,0

> last_new_job
- "never" : 0 으로 대체 
- ">4" : 5로 변경
- 결측치 : 최빈값 대체
- 컬럼 타입 : int 타입으로 변경

#### 4. Modeling
- RandomForestClassifier
- GradientBoostingClassifier
- XGBClassifier
- XGBRFClassifier

- score
    - accuracy_score, roc_auc_score
    - roc :0.75, acc : 0.74

- RandomForestClassifier 를 통하 Feature Importance 는 ?

> GridSearchCV

In [20]:
params = {'n_estimators':[100, 200, 300,400, 500, 600], 'max_depth':[1,2,3,4,5]}