- https://www.datamanim.com/dataset/03_dataq/typetwo.html#id15

# 3. 학생성적 예측 데이터(Regression)

> Attention
- 데이터 설명 : 학생성적 예측 (종속변수 :G3)
- 데이터 출처 : https://www.kaggle.com/datasets/ishandutta/student-performance-data-set (참고, 데이터 수정)
- X_train : https://raw.githubusercontent.com/Datamanim/datarepo/main/studentscore/X_train.csv
- y_train : https://raw.githubusercontent.com/Datamanim/datarepo/main/studentscore/y_train.csv
- X_test : https://raw.githubusercontent.com/Datamanim/datarepo/main/studentscore/X_test.csv
- y_test(평가용) : https://raw.githubusercontent.com/Datamanim/datarepo/main/studentscore/y_test.csv

#### 0. 시험 환경 세팅

In [1]:
import pandas as pd

X_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/studentscore/X_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/studentscore/y_train.csv")
X_test = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/studentscore/X_test.csv")
y_test = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/studentscore/y_test.csv")

X_train.shape, y_train.shape, X_test.shape, y_test.shape

((678, 33), (678, 2), (366, 33), (366, 2))

#### 1. 라이브러리 및 데이터 호출

In [2]:
import numpy as np
import pandas as pd

In [ ]:
# StudentID 제거 
# y_train['G3']를 label 데이터로 사용

In [ ]:
X_train.head()

,StudentID,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,...,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2
0,1714,GP,F,18,U,GT3,T,4,3,other,...,no,4,3,3,1,1,3,0,14,13
1,1254,GP,F,17,U,GT3,T,4,3,health,...,yes,4,4,3,1,3,4,0,13,15
2,1639,GP,F,16,R,GT3,T,4,4,health,...,no,2,4,4,2,3,4,6,10,11
3,1118,GP,M,16,U,GT3,T,4,4,services,...,no,5,3,3,1,3,5,0,15,13
4,1499,GP,M,19,U,GT3,T,3,2,services,...,yes,4,5,4,1,1,4,0,5,0

In [ ]:
y_train.head()

   StudentID  G3
0       1714  14
1       1254  15
2       1639  11
3       1118  13
4       1499   0

In [3]:
del X_train["StudentID"]
del X_test["StudentID"]
y_train=y_train["G3"]
y_test=y_test["G3"]

#### 2. EDA

In [ ]:
# null 값 확인
# column Dtype 확인

# Dtype 이 object인 column과 object가 아닌 column으로 분리 (범주형 vs 연속형)

In [ ]:
print(X_train.isnull().sum())
print(X_train.info())

school        0
sex           0
age           0
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
Mjob          0
Fjob          0
reason        0
guardian      0
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
G1            0
G2            0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 678 entries, 0 to 677
Data columns (total 32 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      678 non-null    object
 1   sex         678 non-null    object
 2   age         678 non-null    int64
 3   address     678 non-null    object
 4   famsize     678 non-null    object
 5   Pstatus     678 non-null    object
 6   Medu        678 non-null    int64
 7   Fedu        678 non-null    int64
 8   Mjob        678 non-null    object
 9   Fjob        678 non-null    object
 10  reason      678 non-null    object
 11  guardian    678 non-null    object
 12  traveltime  678 non-null    int64
 13  studytime   678 non-null    int64
 14  failures    678 non-null    int64
 15  schoolsup   678 non-null    object
 16  famsup      678 non-null    object
 17  paid        678 non-null    object
 18  activities  678 non-null    object
 19  nursery     678 non-null    object
 20  higher      678 non-null    object
 21  internet    678 non-null    object
 22  romantic    678 non-null    object
 23  famrel      678 non-null    int64
 24  freetime    678 non-null    int64
 25  goout       678 non-null    int64
 26  Dalc        678 non-null    int64
 27  Walc        678 non-null    int64
 28  health      678 non-null    int64
 29  absences    678 non-null    int64
 30  G1          678 non-null    int64
 31  G2          678 non-null    int64
dtypes: int64(15), object(17)
memory usage: 169.6+ KB
None

In [ ]:
print(X_train.isnull().sum())
print(X_train.info())

school        0
sex           0
age           0
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
Mjob          0
Fjob          0
reason        0
guardian      0
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
G1            0
G2            0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 678 entries, 0 to 677
Data columns (total 32 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      678 non-null    object
 1   sex         678 non-null    object
 2   age         678 non-null    int64
 3   address     678 non-null    object
 4   famsize     678 non-null    object
 5   Pstatus     678 non-null    object
 6   Medu        678 non-null    int64
 7   Fedu        678 non-null    int64
 8   Mjob        678 non-null    object
 9   Fjob        678 non-null    object
 10  reason      678 non-null    object
 11  guardian    678 non-null    object
 12  traveltime  678 non-null    int64
 13  studytime   678 non-null    int64
 14  failures    678 non-null    int64
 15  schoolsup   678 non-null    object
 16  famsup      678 non-null    object
 17  paid        678 non-null    object
 18  activities  678 non-null    object
 19  nursery     678 non-null    object
 20  higher      678 non-null    object
 21  internet    678 non-null    object
 22  romantic    678 non-null    object
 23  famrel      678 non-null    int64
 24  freetime    678 non-null    int64
 25  goout       678 non-null    int64
 26  Dalc        678 non-null    int64
 27  Walc        678 non-null    int64
 28  health      678 non-null    int64
 29  absences    678 non-null    int64
 30  G1          678 non-null    int64
 31  G2          678 non-null    int64
dtypes: int64(15), object(17)
memory usage: 169.6+ KB
None

In [ ]:
print(y_train.isnull().sum())
print(y_test.isnull().sum())

0
0

In [ ]:
y_train.nunique()

18

In [4]:
object_columns=X_train.dtypes[X_train.dtypes==X_train.dtypes[0]] # X_train.dtypes[0] 가 object 형태이기 때문에 이 타입과 일치하는 데이터를 모두 참조

In [ ]:
object_columns.index

Index(['school', 'sex', 'address', 'famsize', 'Pstatus', 'Mjob', 'Fjob',
       'reason', 'guardian', 'schoolsup', 'famsup', 'paid', 'activities',
       'nursery', 'higher', 'internet', 'romantic'],
      dtype='object')

In [ ]:
numerous_columns=X_train.dtypes[X_train.dtypes==X_train.dtypes[2]] #연속형
numerous_columns.index

Index(['age', 'Medu', 'Fedu', 'traveltime', 'studytime', 'failures', 'famrel',
       'freetime', 'goout', 'Dalc', 'Walc', 'health', 'absences', 'G1', 'G2'],
      dtype='object')

In [ ]:
for i in object_columns.index:
  print(i, X_train[i].nunique())

school 2
sex 2
address 2
famsize 2
Pstatus 2
Mjob 5
Fjob 5
reason 4
guardian 3
schoolsup 2
famsup 2
paid 2
activities 2
nursery 2
higher 2
internet 2
romantic 2

#### 3. Preprocessing

In [ ]:
# object가 아닌 column은 StandardScaler를 이용해 정규화
# object인 column은 LabelEncoder를 이용해 Encoding

In [6]:
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder

In [7]:
int_col = X_train.select_dtypes(include=["int", "float"]).columns
for i in int_col:
    ss = StandardScaler()
    X_train[i] = ss.fit_transform(X_train[[i]]) # test data 를 이용해 fit -> transform
    X_test[i] = ss.transform(X_test[[i]]) # 위에서 이미 fit 되어있기 때문에(=학습을 진행했기 때문에) transform 만 해준다.

In [8]:
obj_col = X_train.select_dtypes(include="object").columns
for i in obj_col:
    le = LabelEncoder()
    X_train[i] = le.fit_transform(X_train[i])
    X_test[i] = le.transform(X_test[i])

#### 4. Modeling

In [ ]:
# model 생성
# GridSearchCV 를 이용한 최적의 Parameter 찾기
# RandomForestRegressor, GradientBoostingRegressor, XGBRegressor model 을 사용하세요
# r2_score의 값을 0.8 이상 인 model을 생성해 보세요 
# 인공신경망을 이용한 예측 값은? (DNN)

In [10]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from xgboost import XGBRegressor
from sklearn.metrics import mean_squared_error, r2_score

In [11]:
rf = RandomForestRegressor(random_state=1)
gb = GradientBoostingRegressor(random_state=1)
xgb = XGBRegressor(random_state=1)

models = [rf, gb, xgb]

In [12]:
params = {"n_estimators":[100,200,300,400,500], "max_depth":[1,2,3,4,5]}
best_models = []
for model in models:
    gs = GridSearchCV(model, param_grid=params, cv = 5, scoring="r2", n_jobs=4)
    gs.fit(X_train, y_train)

    print(f"="*10)
    print(f"model : {model}")
    print(f"params : {gs.best_params_}")
    print(f"score : {gs.best_score_}")

    best_models.append(gs.best_estimator_)

==========
model : RandomForestRegressor(random_state=1)
params : {'max_depth': 4, 'n_estimators': 100}
score : 0.8580942467116145
==========
model : GradientBoostingRegressor(random_state=1)
params : {'max_depth': 2, 'n_estimators': 100}
score : 0.867408518288895
==========
model : XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=None, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=None, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             n_estimators=100, n_jobs=None, num_parallel_tree=None,
             predictor=None, random_state=1, ...)
params : {'max_depth': 2, 'n_estimators': 100}
score : 0.85717066670262

In [13]:
import tensorflow as tf
from tensorflow.keras.callbacks import ReduceLROnPlateau, ModelCheckpoint, EarlyStopping

2023-01-03 16:58:08.982767: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-01-03 16:58:10.058060: W tensorflow/compiler/xla/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libnvinfer.so.7'; dlerror: libnvinfer.so.7: cannot open shared object file: No such file or directory; LD_LIBRARY_PATH: /usr/local/cuda-11.2/extras/CUPTI/lib64:/usr/local/cuda-11.2/lib64:
2023-01-03 16:58:10.060150: W tensorflow/compiler/xla/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libnvinfer_plugin.so.7'; dlerror: libnvinfer_plugin.so.7: cannot open shared object file: No such file or directory; LD_LIBRARY_PATH: /usr/local/cuda-11.2/extras/CUPTI/lib64:/usr/local/cuda-11.2/lib64:
2023-01-03 16:58:10.060162: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Cannot dlopen some TensorRT libraries. If you would like to use Nvidia GPU with TensorRT, please make sure the missing libraries mentioned above are installed properly.

In [ ]:
X_train.shape

(678, 32)

In [ ]:
X_train.head()

In [14]:
X_train_array=np.array(X_train)
y_train_array=np.array(y_train)

## Keras 레이어의 모양
- Keras 레이어에서 모양은 각 차원에 배열 또는 텐서의 요소 수를 나타내는 튜플(tuple)입니다.
- 예: 모양(3, 4, 4)를 가진 텐서는 3차원이고 첫 번째 차원은 3개의 요소를 가집니다.  
- 이 세 가지 요소에는 각각 4개의 요소가 있고, 이 4개의 요소에는 각각 4개의 요소가 있습니다. 따라서 총3x4x4 = 48개의 요소가 있습니다.
- 크기를 나타낼 때는 가장 바깥쪽 리스트의 길이부터 가장 안쪽 리스트 길이의 순서로 표시합니다. 
- 예를 들어 2x3x4 행렬은 3차원 배열로 깊이,행,열 순서로 나타납니다. 
```python
d = np.array([[[1, 2, 3, 4],
               [5, 6, 7, 8],
               [9, 10, 11, 12]],
              [[11, 12, 13, 14],
               [15, 16, 17, 18],
               [19, 20, 21, 22]]])   # 2 x 3 x 4 array
```

In [ ]:
X_train_array.shape

(678, 32)

In [ ]:
X_train_array.shape[1]

32

In [19]:
y_train_array

array([14, 15, 11, 13,  0, 13, 16, 10, 10, 11, 11, 14, 11, 12, 13, 10, 15,
       12,  9, 11, 10, 15,  9,  6, 14, 14, 19, 11, 12, 11,  8, 14,  7,  7,
       11, 18, 10, 14, 17, 11, 12, 17, 11, 12, 10, 16, 11, 17, 10, 12, 12,
       14,  8, 13, 16, 14, 16, 10, 15, 10, 11,  0, 11, 13, 10, 11, 15,  9,
       14, 10, 10, 17, 15, 14,  8,  9, 11, 12, 11, 11, 11, 10, 18, 14,  8,
       13,  5,  0, 16, 14, 13, 13, 14, 15, 13, 10, 14,  8, 12, 14, 11, 12,
       10, 11, 10,  8,  8, 15,  5, 12, 10, 17, 17,  8, 13, 12, 16,  5, 16,
       11, 15, 10, 18,  7,  9,  6, 10, 10, 12, 13, 13, 16, 13, 13, 11, 17,
       12, 13, 11, 10, 16, 11, 16, 15, 11, 13, 10, 11,  8, 11, 15, 14, 13,
       16, 12,  0, 12, 13,  0, 16, 11, 13, 13, 10, 10, 11, 14, 11, 12,  6,
        0, 14, 17, 12,  8, 14, 11, 10, 11,  0, 10, 10, 15, 13, 12, 13,  9,
       10, 13, 10, 10, 14, 12, 15, 11, 15, 13, 15, 15, 15, 13, 12, 11, 11,
       12,  8, 15,  0,  8, 13, 11, 14, 14,  0, 16,  8, 13,  8, 10,  6, 12,
       11, 11, 10, 17, 12, 11, 12, 11, 11, 10,  9, 11,  8,  6, 10, 15,  8,
        8, 12,  8,  9, 16, 12, 12, 11, 16, 11, 14, 10, 14, 16, 15, 13, 15,
       10, 10, 10,  0,  6, 13, 14, 15,  0, 13, 12, 10, 11, 10, 17,  9, 12,
       10, 12, 10, 10, 12,  9,  8,  7, 15, 13, 11, 14, 14, 14,  8, 14, 10,
        0, 12,  9, 10,  9, 11, 12, 14, 15, 11, 11, 11, 11, 11,  8, 10, 10,
       10,  0, 13, 14, 12, 13,  5, 13,  9, 14,  9,  0, 11,  8, 13,  8, 16,
       13,  7, 11, 12,  9, 13,  8,  9,  8, 16, 11, 11,  6,  6, 14, 14, 10,
       12, 12, 14, 18, 12,  9,  9, 12, 10, 16, 10,  8, 16, 11, 10, 10, 17,
       12, 10, 10, 13,  0, 10, 12, 13, 11, 18, 18,  9, 10, 10, 11, 13,  6,
       15,  7, 10, 11, 11, 11, 12, 10, 10, 17, 18, 11, 18, 19,  5, 10, 17,
       11, 16,  8, 20,  9, 10, 11, 16,  8,  8, 13,  9,  0, 11, 14, 11, 15,
       10, 10, 17, 10,  9, 13,  9, 13, 19, 14, 14, 17, 15, 13, 10, 16, 14,
       14, 13, 11, 19, 17, 15, 10,  8, 10, 10, 13,  0, 16, 14, 12, 10, 10,
       11, 11,  8, 17, 11, 15, 14,  9, 10, 10,  7, 15, 13, 14, 11, 11,  0,
       15,  0, 15, 18,  0, 18, 10,  0, 11, 12, 10, 16, 13, 14, 15,  8, 13,
        8, 11,  9, 10,  9, 12, 11, 10,  0, 15, 10,  8,  9, 14, 10,  9, 18,
        8, 12, 13, 15, 13, 15,  9, 15,  0, 12,  0,  7, 16, 15, 10, 11, 17,
       15, 14, 12,  8, 15,  0,  9,  8, 13, 10, 13,  7, 14, 10,  0,  9, 10,
       11, 12, 15, 10, 12, 14, 14, 14, 12, 13, 11, 10, 13, 16, 12,  9,  6,
       11, 15, 12, 12, 14, 13,  8,  0, 11, 12, 14, 11,  8, 11, 10, 10, 11,
       10, 10, 10, 14, 11, 13, 14,  9,  4,  7, 18, 14, 15, 17, 11,  0, 15,
        9, 15,  9, 15, 11, 10, 13, 17,  9, 17,  0, 11, 12, 10, 13, 10, 14,
       16,  9, 13, 12, 11, 14, 16, 15,  9,  8, 18, 12, 15,  0, 11, 12, 12,
        9,  0, 12,  7, 10, 12, 13, 10, 12,  0, 17, 11,  8,  6, 12, 15, 10,
        9, 16, 13, 15, 15, 12, 14,  9,  8, 13, 14, 11, 12, 11, 14, 16, 11,
       11, 16, 13, 10, 11, 14, 10, 12, 11,  8, 11,  0, 15, 10, 11,  8, 14,
       10, 11, 16, 17, 13, 13, 11, 16,  0,  0, 14, 11, 13, 10, 18])

In [15]:
epoch = 2000
batch_size = 4

filepath = f"model_check_point_epoch_{epoch}_batch_{batch_size}.h5"

reduceLR = ReduceLROnPlateau(monitor="loss",
                             factor = 0.5, # loss 값을 개선하기 위한 학습률 변경 시작 0.1 -> 0.2 0> 0.4 
                             patience = 10) # epoch 10 동안 loss 값이 개선되지 않으면 callback 호출

checkpoint = ModelCheckpoint(filepath = filepath,
                             monitor = "loss",
                             save_best_only = True) #가장 Best 한 값만 저장한다. 

earlystopping = EarlyStopping(monitor = "loss",
                              patience=10)

optimizer = tf.keras.optimizers.SGD(learning_rate = 0.1)

2023-01-03 16:58:44.252467: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:967] could not open file to read NUMA node: /sys/bus/pci/devices/0000:2b:00.0/numa_node
Your kernel may have been built without NUMA support.
2023-01-03 16:58:44.276990: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:967] could not open file to read NUMA node: /sys/bus/pci/devices/0000:2b:00.0/numa_node
Your kernel may have been built without NUMA support.
2023-01-03 16:58:44.277053: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:967] could not open file to read NUMA node: /sys/bus/pci/devices/0000:2b:00.0/numa_node
Your kernel may have been built without NUMA support.
2023-01-03 16:58:44.280807: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-01-03 16:58:44.283133: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:967] could not open file to read NUMA node: /sys/bus/pci/devices/0000:2b:00.0/numa_node
Your kernel may have been built without NUMA support.
2023-01-03 16:58:44.283197: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:967] could not open file to read NUMA node: /sys/bus/pci/devices/0000:2b:00.0/numa_node
Your kernel may have been built without NUMA support.
2023-01-03 16:58:44.283226: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:967] could not open file to read NUMA node: /sys/bus/pci/devices/0000:2b:00.0/numa_node
Your kernel may have been built without NUMA support.
2023-01-03 16:58:45.035157: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:967] could not open file to read NUMA node: /sys/bus/pci/devices/0000:2b:00.0/numa_node
Your kernel may have been built without NUMA support.
2023-01-03 16:58:45.035289: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:967] could not open file to read NUMA node: /sys/bus/pci/devices/0000:2b:00.0/numa_node
Your kernel may have been built without NUMA support.
2023-01-03 16:58:45.035298: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1700] Could not identify NUMA node of platform GPU id 0, defaulting to 0.  Your kernel may not have been built with NUMA support.
2023-01-03 16:58:45.035395: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:967] could not open file to read NUMA node: /sys/bus/pci/devices/0000:2b:00.0/numa_node
Your kernel may have been built without NUMA support.
2023-01-03 16:58:45.035678: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1613] Created device /job:localhost/replica:0/task:0/device:GPU:0 with 8762 MB memory:  -> device: 0, name: NVIDIA GeForce RTX 3080 Ti, pci bus id: 0000:2b:00.0, compute capability: 8.6

In [17]:
DNN=tf.keras.Sequential()
DNN.add(tf.keras.layers.Dense(units= 64, activation='relu', input_shape=(32,))) #내접해야하니까 data의 length를 신경 써주세요. X_train_array.shape[1]=32, shape=(678,32)
DNN.add(tf.keras.layers.Dense(units=64, activation='relu'))
DNN.add(tf.keras.layers.Dense(units=1, activation='relu'))
DNN.compile(optimizer='SGD',loss='mse',metrics='mse')

In [20]:
DNN.fit(X_train_array, y_train_array, batch_size=5, epochs=1000, callbacks=[reduceLR, checkpoint, earlystopping])

Epoch 1/1000

2023-01-03 17:05:04.310401: I tensorflow/compiler/xla/stream_executor/cuda/cuda_blas.cc:630] TensorFloat-32 will be used for the matrix multiplication. This will only be logged once.
2023-01-03 17:05:04.543276: I tensorflow/compiler/xla/service/service.cc:173] XLA service 0x7f2502f82690 initialized for platform CUDA (this does not guarantee that XLA will be used). Devices:
2023-01-03 17:05:04.543326: I tensorflow/compiler/xla/service/service.cc:181]   StreamExecutor device (0): NVIDIA GeForce RTX 3080 Ti, Compute Capability 8.6

  1/136 [..............................] - ETA: 9:30 - loss: 125.7677 - mse: 125.7677

2023-01-03 17:05:05.261328: I tensorflow/compiler/jit/xla_compilation_cache.cc:477] Compiled cluster using XLA!  This line is logged at most once for the lifetime of the process.

136/136 [==============================] - 5s 6ms/step - loss: 22.4334 - mse: 22.4334 - lr: 0.0100
Epoch 2/1000
136/136 [==============================] - 1s 5ms/step - loss: 5.0531 - mse: 5.0531 - lr: 0.0100
Epoch 3/1000
136/136 [==============================] - 1s 5ms/step - loss: 4.0116 - mse: 4.0116 - lr: 0.0100
Epoch 4/1000
136/136 [==============================] - 1s 5ms/step - loss: 2.9968 - mse: 2.9968 - lr: 0.0100
Epoch 5/1000
136/136 [==============================] - 1s 5ms/step - loss: 3.3174 - mse: 3.3174 - lr: 0.0100
Epoch 6/1000
136/136 [==============================] - 1s 5ms/step - loss: 2.6160 - mse: 2.6160 - lr: 0.0100
Epoch 7/1000
136/136 [==============================] - 1s 5ms/step - loss: 2.2167 - mse: 2.2167 - lr: 0.0100
Epoch 8/1000
136/136 [==============================] - 1s 5ms/step - loss: 1.9503 - mse: 1.9503 - lr: 0.0100
Epoch 9/1000
136/136 [==============================] - 1s 5ms/step - loss: 1.8698 - mse: 1.8698 - lr: 0.0100
Epoch 10/1000
136/136 [==============================] - 1s 5ms/step - loss: 1.6194 - mse: 1.6194 - lr: 0.0100
Epoch 11/1000
136/136 [==============================] - 1s 5ms/step - loss: 1.8239 - mse: 1.8239 - lr: 0.0100
Epoch 12/1000
136/136 [==============================] - 1s 5ms/step - loss: 1.7016 - mse: 1.7016 - lr: 0.0100
Epoch 13/1000
136/136 [==============================] - 1s 5ms/step - loss: 1.3271 - mse: 1.3271 - lr: 0.0100
Epoch 14/1000
136/136 [==============================] - 1s 5ms/step - loss: 1.9562 - mse: 1.9562 - lr: 0.0100
Epoch 15/1000
136/136 [==============================] - 1s 5ms/step - loss: 1.4134 - mse: 1.4134 - lr: 0.0100
Epoch 16/1000
136/136 [==============================] - 1s 4ms/step - loss: 1.2774 - mse: 1.2774 - lr: 0.0100
Epoch 17/1000
136/136 [==============================] - 1s 5ms/step - loss: 1.1252 - mse: 1.1252 - lr: 0.0100
Epoch 18/1000
136/136 [==============================] - 1s 4ms/step - loss: 0.9413 - mse: 0.9413 - lr: 0.0100
Epoch 19/1000
136/136 [==============================] - 1s 4ms/step - loss: 0.8026 - mse: 0.8026 - lr: 0.0100
Epoch 20/1000
136/136 [==============================] - 1s 4ms/step - loss: 0.7952 - mse: 0.7952 - lr: 0.0100
Epoch 21/1000
136/136 [==============================] - 1s 4ms/step - loss: 0.6748 - mse: 0.6748 - lr: 0.0100
Epoch 22/1000
136/136 [==============================] - 1s 4ms/step - loss: 0.7303 - mse: 0.7303 - lr: 0.0100
Epoch 23/1000
136/136 [==============================] - 1s 5ms/step - loss: 0.6385 - mse: 0.6385 - lr: 0.0100
Epoch 24/1000
136/136 [==============================] - 1s 5ms/step - loss: 0.5133 - mse: 0.5133 - lr: 0.0100
Epoch 25/1000
136/136 [==============================] - 1s 4ms/step - loss: 0.4892 - mse: 0.4892 - lr: 0.0100
Epoch 26/1000
136/136 [==============================] - 1s 4ms/step - loss: 0.5703 - mse: 0.5703 - lr: 0.0100
Epoch 27/1000
136/136 [==============================] - 1s 4ms/step - loss: 0.4784 - mse: 0.4784 - lr: 0.0100
Epoch 28/1000
136/136 [==============================] - 1s 4ms/step - loss: 0.3924 - mse: 0.3924 - lr: 0.0100
Epoch 29/1000
136/136 [==============================] - 1s 5ms/step - loss: 0.4501 - mse: 0.4501 - lr: 0.0100
Epoch 30/1000
136/136 [==============================] - 1s 4ms/step - loss: 0.4669 - mse: 0.4669 - lr: 0.0100
Epoch 31/1000
136/136 [==============================] - 1s 5ms/step - loss: 0.3708 - mse: 0.3708 - lr: 0.0100
Epoch 32/1000
136/136 [==============================] - 1s 4ms/step - loss: 0.3842 - mse: 0.3842 - lr: 0.0100
Epoch 33/1000
136/136 [==============================] - 1s 4ms/step - loss: 0.4076 - mse: 0.4076 - lr: 0.0100
Epoch 34/1000
136/136 [==============================] - 1s 4ms/step - loss: 0.4036 - mse: 0.4036 - lr: 0.0100
Epoch 35/1000
136/136 [==============================] - 1s 4ms/step - loss: 0.3431 - mse: 0.3431 - lr: 0.0100
Epoch 36/1000
136/136 [==============================] - 1s 4ms/step - loss: 0.3709 - mse: 0.3709 - lr: 0.0100
Epoch 37/1000
136/136 [==============================] - 1s 5ms/step - loss: 0.2775 - mse: 0.2775 - lr: 0.0100
Epoch 38/1000
136/136 [==============================] - 1s 4ms/step - loss: 0.2669 - mse: 0.2669 - lr: 0.0100
Epoch 39/1000
136/136 [==============================] - 1s 4ms/step - loss: 0.2439 - mse: 0.2439 - lr: 0.0100
Epoch 40/1000
136/136 [==============================] - 1s 4ms/step - loss: 0.2910 - mse: 0.2910 - lr: 0.0100
Epoch 41/1000
136/136 [==============================] - 1s 4ms/step - loss: 0.2727 - mse: 0.2727 - lr: 0.0100
Epoch 42/1000
136/136 [==============================] - 1s 4ms/step - loss: 0.2759 - mse: 0.2759 - lr: 0.0100
Epoch 43/1000
136/136 [==============================] - 1s 4ms/step - loss: 0.2428 - mse: 0.2428 - lr: 0.0100
Epoch 44/1000
136/136 [==============================] - 1s 4ms/step - loss: 0.2434 - mse: 0.2434 - lr: 0.0100
Epoch 45/1000
136/136 [==============================] - 1s 4ms/step - loss: 0.2471 - mse: 0.2471 - lr: 0.0100
Epoch 46/1000
136/136 [==============================] - 1s 4ms/step - loss: 0.2735 - mse: 0.2735 - lr: 0.0100
Epoch 47/1000
136/136 [==============================] - 1s 4ms/step - loss: 0.2098 - mse: 0.2098 - lr: 0.0100
Epoch 48/1000
136/136 [==============================] - 1s 4ms/step - loss: 0.2373 - mse: 0.2373 - lr: 0.0100
Epoch 49/1000
136/136 [==============================] - 1s 4ms/step - loss: 0.2298 - mse: 0.2298 - lr: 0.0100
Epoch 50/1000
136/136 [==============================] - 1s 4ms/step - loss: 0.2474 - mse: 0.2474 - lr: 0.0100
Epoch 51/1000
136/136 [==============================] - 1s 4ms/step - loss: 0.2131 - mse: 0.2131 - lr: 0.0100
Epoch 52/1000
136/136 [==============================] - 1s 4ms/step - loss: 0.2448 - mse: 0.2448 - lr: 0.0100
Epoch 53/1000
136/136 [==============================] - 1s 4ms/step - loss: 0.3257 - mse: 0.3257 - lr: 0.0100
Epoch 54/1000
136/136 [==============================] - 1s 4ms/step - loss: 0.2115 - mse: 0.2115 - lr: 0.0100
Epoch 55/1000
136/136 [==============================] - 1s 5ms/step - loss: 0.2241 - mse: 0.2241 - lr: 0.0100
Epoch 56/1000
136/136 [==============================] - 1s 4ms/step - loss: 0.2553 - mse: 0.2553 - lr: 0.0100
Epoch 57/1000
136/136 [==============================] - 1s 5ms/step - loss: 0.2062 - mse: 0.2062 - lr: 0.0100
Epoch 58/1000
136/136 [==============================] - 1s 5ms/step - loss: 0.1575 - mse: 0.1575 - lr: 0.0100
Epoch 59/1000
136/136 [==============================] - 1s 5ms/step - loss: 0.1489 - mse: 0.1489 - lr: 0.0100
Epoch 60/1000
136/136 [==============================] - 1s 4ms/step - loss: 0.1638 - mse: 0.1638 - lr: 0.0100
Epoch 61/1000
136/136 [==============================] - 1s 4ms/step - loss: 0.1915 - mse: 0.1915 - lr: 0.0100
Epoch 62/1000
136/136 [==============================] - 1s 4ms/step - loss: 0.1841 - mse: 0.1841 - lr: 0.0100
Epoch 63/1000
136/136 [==============================] - 1s 4ms/step - loss: 0.1448 - mse: 0.1448 - lr: 0.0100
Epoch 64/1000
136/136 [==============================] - 1s 4ms/step - loss: 0.1504 - mse: 0.1504 - lr: 0.0100
Epoch 65/1000
136/136 [==============================] - 1s 4ms/step - loss: 0.1698 - mse: 0.1698 - lr: 0.0100
Epoch 66/1000
136/136 [==============================] - 1s 4ms/step - loss: 0.1534 - mse: 0.1534 - lr: 0.0100
Epoch 67/1000
136/136 [==============================] - 1s 4ms/step - loss: 0.1511 - mse: 0.1511 - lr: 0.0100
Epoch 68/1000
136/136 [==============================] - 1s 5ms/step - loss: 0.1393 - mse: 0.1393 - lr: 0.0100
Epoch 69/1000
136/136 [==============================] - 1s 4ms/step - loss: 0.1492 - mse: 0.1492 - lr: 0.0100
Epoch 70/1000
136/136 [==============================] - 1s 4ms/step - loss: 0.1545 - mse: 0.1545 - lr: 0.0100
Epoch 71/1000
136/136 [==============================] - 1s 4ms/step - loss: 0.1307 - mse: 0.1307 - lr: 0.0100
Epoch 72/1000
136/136 [==============================] - 0s 4ms/step - loss: 0.1381 - mse: 0.1381 - lr: 0.0100
Epoch 73/1000
136/136 [==============================] - 0s 3ms/step - loss: 0.1435 - mse: 0.1435 - lr: 0.0100
Epoch 74/1000
136/136 [==============================] - 0s 4ms/step - loss: 0.1383 - mse: 0.1383 - lr: 0.0100
Epoch 75/1000
136/136 [==============================] - 1s 4ms/step - loss: 0.1385 - mse: 0.1385 - lr: 0.0100
Epoch 76/1000
136/136 [==============================] - 1s 4ms/step - loss: 0.1107 - mse: 0.1107 - lr: 0.0100
Epoch 77/1000
136/136 [==============================] - 1s 5ms/step - loss: 0.1099 - mse: 0.1099 - lr: 0.0100
Epoch 78/1000
136/136 [==============================] - 1s 4ms/step - loss: 0.1049 - mse: 0.1049 - lr: 0.0100
Epoch 79/1000
136/136 [==============================] - 1s 4ms/step - loss: 0.1163 - mse: 0.1163 - lr: 0.0100
Epoch 80/1000
136/136 [==============================] - 1s 4ms/step - loss: 0.1101 - mse: 0.1101 - lr: 0.0100
Epoch 81/1000
136/136 [==============================] - 1s 4ms/step - loss: 0.0935 - mse: 0.0935 - lr: 0.0100
Epoch 82/1000
136/136 [==============================] - 0s 4ms/step - loss: 0.1112 - mse: 0.1112 - lr: 0.0100
Epoch 83/1000
136/136 [==============================] - 0s 4ms/step - loss: 0.1076 - mse: 0.1076 - lr: 0.0100
Epoch 84/1000
136/136 [==============================] - 1s 4ms/step - loss: 0.1076 - mse: 0.1076 - lr: 0.0100
Epoch 85/1000
136/136 [==============================] - 1s 4ms/step - loss: 0.1113 - mse: 0.1113 - lr: 0.0100
Epoch 86/1000
136/136 [==============================] - 0s 3ms/step - loss: 0.0938 - mse: 0.0938 - lr: 0.0100
Epoch 87/1000
136/136 [==============================] - 0s 3ms/step - loss: 0.0984 - mse: 0.0984 - lr: 0.0100
Epoch 88/1000
136/136 [==============================] - 0s 3ms/step - loss: 0.0973 - mse: 0.0973 - lr: 0.0100
Epoch 89/1000
136/136 [==============================] - 0s 4ms/step - loss: 0.1000 - mse: 0.1000 - lr: 0.0100
Epoch 90/1000
136/136 [==============================] - 1s 4ms/step - loss: 0.1019 - mse: 0.1019 - lr: 0.0100
Epoch 91/1000
136/136 [==============================] - 1s 4ms/step - loss: 0.0787 - mse: 0.0787 - lr: 0.0100
Epoch 92/1000
136/136 [==============================] - 0s 3ms/step - loss: 0.0967 - mse: 0.0967 - lr: 0.0100
Epoch 93/1000
136/136 [==============================] - 0s 4ms/step - loss: 0.1029 - mse: 0.1029 - lr: 0.0100
Epoch 94/1000
136/136 [==============================] - 0s 4ms/step - loss: 0.0882 - mse: 0.0882 - lr: 0.0100
Epoch 95/1000
136/136 [==============================] - 1s 4ms/step - loss: 0.0984 - mse: 0.0984 - lr: 0.0100
Epoch 96/1000
136/136 [==============================] - 1s 4ms/step - loss: 0.0995 - mse: 0.0995 - lr: 0.0100
Epoch 97/1000
136/136 [==============================] - 0s 4ms/step - loss: 0.0855 - mse: 0.0855 - lr: 0.0100
Epoch 98/1000
136/136 [==============================] - 0s 3ms/step - loss: 0.0822 - mse: 0.0822 - lr: 0.0100
Epoch 99/1000
136/136 [==============================] - 0s 4ms/step - loss: 0.0803 - mse: 0.0803 - lr: 0.0100
Epoch 100/1000
136/136 [==============================] - 0s 3ms/step - loss: 0.0810 - mse: 0.0810 - lr: 0.0100
Epoch 101/1000
136/136 [==============================] - 0s 4ms/step - loss: 0.0880 - mse: 0.0880 - lr: 0.0100

In [21]:
X_test_array=np.array(X_test)
y_test_array=np.array(y_test)

In [22]:
DNN_predict=DNN.predict(X_test)
r2_score(y_test_array, DNN_predict)

12/12 [==============================] - 0s 3ms/step

0.7147032305169342